/* :placeholder-shown 选取所有 显示placeholder 的元素 */
 .login-x {
     width: 80%;
     height: 292px;
     position: absolute;
     left: 0;
     right: 0;
     margin: auto;
     top: 10%;
 }

 .login-logo {
     text-align: center;
 }

 .login-logo--img {
     width: 80px;
     height: 80px;
     margin-bottom: 40px;
 }

 .input-fill::placeholder {
     color: transparent;
 }

 .input-fill-x {
     position: relative;
     margin-bottom: 16px;
 }

 .input-fill-x:focus-within:after {
     transform: scaleX(1)
 }

 .input-fill-x:after {
     content: ' ';
     position: absolute;
     border-bottom: 2px solid #999;
     bottom: -1px;
     left: 0;
     right: 0;
     transform: scaleX(0);
     transition: transform .3s ease;
 }

 .input-fill:focus {
     outline: none;
 }

 .input-fill {
     padding: 20px 16px 6px;
     background: #f4f5f6;
     border: 1px solid transparent;
     width: calc(100% - 32px);
 }

 .input-label {
     position: absolute;
     left: 16px;
     top: 14px;
     color: #b3b4b5;
     transition: all .3s ease;
 }

 .input-fill:not(:placeholder-shown)+.input-label,
 .input-fill:focus+.input-label {
     transform: scale(0.75) translate(-4px, -18px);
     color: #999;
 }

 .login-btn {
     width: 100%;
     background-color: #f4f5f6;
     border: 1px solid transparent;
     color: #282828;
 }
 .login-btn:focus {
     outline: none;
 }

 .login-btn:active {
     background-color: #f2f3f5;
}
 .login-btn--span {
     display: inline-block;
     padding: 8px 0;
 }